body {
    margin: 0;
    display: flex;
}

.column {
    height: 100vh;
    width: 10vw;
}

.column img {
    position: relative;
    top: 5%;
    left: 10%;
    height: 90%;
    width: 90%
}

header {
    display: flex;
    width: 90vw;
    height: 30vh;
}

header img {
    margin-left: 10px;
    height: 100%;
}

header h1 {
    position: relative;
    top: 35%;
}

main {
    width: 90vw;
    height: 70vh;
}